@charset "UTF-8";

/* 미니홈피 프로필 스타일 */
#toryProfileForm {
	position: relative;
	z-index: 1;
}

#toryProfileForm a {
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100px;
	line-height: 100px;
	position: relative;
	float: left;
	background-color: #FFF9C4;
	text-align: center;
}

#boardTable table {
	border: 1px;
	background: white;
	width: 100%;
}

#boardTable input [type=submit] {
	border: 2px solid #F57F17;
	border-radius: 5px;
	background-color: #F57F17;
	color: white;
}

#boardTable td {
	padding: 6px;
	text-align: center;
}

#boardTable th {
	padding: 5px;
	background-color: #FFBB00;
	color: white;
	text-align: center;
}

#write_button {
	text-align: right;
	vertical-align: middle;
}

#toryProfileForm table {
	width: 100%;
	text-align: center;
}

#toryProfileForm table tr td, #toryProfileForm table tr th {
	border: 1px solid #F57F17;
}

#toryProfileForm table tr th {
	width: 25%;
}

#toryProfileForm table tr td {
	width: 75%;
}

#toryProfileForm table tr td .toryProfileImg img {
	width: 250px;
	background-color: #fff;
	border-radius: 100%;
	border: 1px solid #000;
	box-shadow: 2px 2px #000;
}

/* 미니홈피 업데이트 폼 스타일*/
#toryProfileUpdateForm table {
	width: 100%;
	text-align: center;
}

#toryProfileUpdateForm table tr td, #toryProfileUpdateForm table tr th {
	border: 1px solid #999;
}

#toryProfileUpdateForm table tr td {
	width: 75%;
}

#toryProfileUpdateForm table tr th {
	width: 25%;
}

#toryProfileUpdateForm table tr td input {
	width: 100%;
	height: 100%;
	border: none;
}

#toryProfileUpdateForm .toryProfileImg {
	position: relative;
}

#toryProfileUpdateForm .toryProfileImg img {
	width: 250px;
}

#toryProfileUpdateForm .toryProfileImg::before {
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	background-color: #000;
	opacity: 0;
	transition: 0.4s;
}

#toryProfileUpdateForm .toryProfileImg .cameraicon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	color: #fff;
	cursor: pointer;
	transition: 0.4s;
}

#toryProfileUpdateForm .toryProfileImg:hover:before {
	opacity: 0.4;
}

#toryProfileUpdateForm .toryProfileImg:hover .cameraicon {
	opacity: 1;
}

/* 미니홈피 이미지 등록 폼 */
#toryProfileImgForm {
	width: 1000px;
	height: 700px;
	border: 1px solid #f9f9f9;
	background-color: #fff;
	box-shadow: 0px 0px 13px 2px #000;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	opacity: 0;
	z-index: 2;
}

#toryProfileImgForm #toryProfileImgTilte {
	position: absolute;
	top: 0;
	padding: 30px;
	border-bottom: 1px solid #999;
}

#toryProfileImgForm #toryProfileImgTilte h1 {
	font-size: 24px;
}

#toryProfileImgMainForm .toryProfileUpload #profileUploadForm input[type=file]
	{
	margin-top: 15px;
}

#toryProfileImgForm .toryProfileUploadButton {
	position: absolute;
	bottom: 0;
	padding: 30px;
	border-top: 1px solid #999;
}

#toryProfileImgForm .toryProfileUploadButton input {
	padding: 10px;
	border-radius: 5px;
}

#toryProfileImgForm .toryProfileUploadButton input[value='취소'] {
	width: 110px;
	padding-left: 15px;
	padding-right: 15px;
	border: none;
}

#toryProfileImgForm .toryProfileUploadButton input[value='프로필 사진으로 설정']
	{
	background-color: #6ba4ff;
	border: none;
	color: #fff;
	font-weight: bold;
}

#toryProfileImgForm #toryProfileImgMainForm {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#toryProfileImgForm #toryProfileImgMainForm .toryProfileText {
	color: #999F
}

#toryProfileImgMainForm .toryProfileImg img {
	width: 300px;
	height: 300px;
}

/* 어드민 게시물 관리 뷰 - 삭제 폼 */
#adminPostDeletForm input[type=submit] {
	float: right;
	width: 150px;
	height: 50px;
	border: none;
	margin-right: 15px;
	transition: 0.4s;
	font-weight: bold;
}

#adminPostDeletForm button[type=submit]:hover {
	background-color: #F57F17;
}

#adminPagin ul {
	margin-top: 30px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

/*boardList 구역*/
#boardListForm {
	width: 347px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}

#homeBoardList {
	border: 3px solid #F57F17;
	border-radius: 40px 40px;
	border-style: dashed;
	padding: 20px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}

#homeBoardList img {
	width: 100%;
}

#homeBoardList input[type=submit] {
	width: 100%;
}

#categoryContent {
	border: 3px solid #FFBB00;
	border-radius: 40px;
	padding: 15px;
}

* a {
	color: #F57F17;
	font-weight: bold;
}

#adminPostDeletForm input[type=submit] {
	border: 2px solid #F57F17;
	border-radius: 5px;
	background-color: #F57F17;
	color: white;
	width: 70px;
	height: 40px;
}

@font-face {
	src: url(../font/THEletssmileR.otf) format('truetype');
	font-family: 'THEletssmileR';
}

* {
	font-family: 'THEletssmileR' !important;
}

.btnArea button[type=button], button[type=reset] {
	border: 2px solid #F57F17;
	border-radius: 5px;
	background-color: #F57F17;
	color: white;
}

#frm input[type=text] {
	width: 60%;
}

.pagingArea {
	text-align: center;
}

.pagination {
	display: inline-block;
}

.pagination li {
	width: 45px;
	float: left;
}

/* 부트스트랩 페이징 CSS */
.page-item a {
	color: #F57F17;
}

.page-item.active .page-link {
	background-color: #F57F17;
	border-color: #F57F17;
}

#boardListForm input[type=submit] {
	font-family: SSShinb7;
}

#categoryContent img {
	width: 150px;
	height: 150px;
}

#mainImage {
	width: 150px;
}

#boardListForm img {
	width: 100%;
}

#updateTable table {
	text-align: left;
	margin: auto;
}

#registerForm table {
	text-align: left;
	margin: auto;
}

#myForm table {
	width: 100%;
	margin: auto;
}

#boardList ul {
	list-style: none;
	width: 100%;
}

#boardList ul li {
	float: left;
	width: 45%;
	margin-right: 15px;
}

input[type=text], input[type=password] {
	border: 2px solid #F57F17;
	border-radius: 5px;
}

input[type=submit], input[type=button] {
	border: 2px solid #F57F17;
	border-radius: 5px;
	background-color: #F57F17;
	color: white;
}

#categoryForm input[type=button] {
	border: 2px solid #FFBF00;
	border-style: dashed;
	float: left;
	width: 90px;
	height: 50px;
}

#writeForm input[type=submit] {
	float: right;
}

#boardListForm input[type=submit] {
	width: 100%;
}

#postWriteForm {
	float: right;
}

#searchResultForm {
	display: inline-block;
}

body {
	position: relative;
	min-height: 100vh;
}

.footer {
	width: 100%;
	background-color: #FFF9C4;
	border-top: 5px solid #F57F17;
	padding: 25px;
	height: 100px;
}

.header {
	text-align: center;
	border-bottom: 5px solid #F57F17;
	line-height: 150px;
	height: 100%;
	background-color: #FFF9C4;
	background-size: 70%;
}

.main {
	background-color: #FFF9C4;
	padding: 25px;
}

.sidenav {
	padding-top: 20px;
	background-color: #ffffff;
	height: 100%;
}

.content {
	min-height: 72.8vh;
}

#leftForm img {
	border: 2px solid #F57F17;
	border-radius: 40px;
	width: 100%;
}