@charset "UTF-8";

#toryProfileImgMainForm .toryProfileImg img{
	width:400px;
}

footer {
    background-color: #FFF9C4;
    border-top: 5px solid #F57F17;
    padding: 15px;
    position: absolute;
	padding: 25px;
	left:50%;
	bottom: 0px;
	transform:translate(-50%,0);
	height: 100px;
	width: 70%;
}

.header {
	text-align: center;
	border-bottom: 5px solid #F57F17;
	line-height: 150px;
	height: 100%;
	width: 100%;
	background-color: #FFF9C4;
}

.main {
	background-color: #FFF9C4;
	width: 100%;
	height: 100%;
	left:50%;
	transform:translate(-50%,0);
	position: absolute;
}

.sidenav {
      padding-top: 20px;
      background-color: #ffffff;
      height: 100%;
    }